<% if flash[:errors] %>
    <ul>
        <% flash[:errors].each do |error| %>
            <li>
                <%= error %>
            </li>
        <% end %>
    </ul>
<% end %>

<h1>New Camper</h1>
<%= render 'form' %>
<br>
<br>
<p><%= link_to 'Cancel', campers_path %></p>